[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
parameterized = "*"
pylint = "*"
pycodestyle = "*"
autopep8 = "*"
mypy = "*"

[packages]
gunicorn = "*"
django = "*"
psycopg2 = "*"
social-auth-app-django = "*"

[requires]
python_version = "3.8"
