{% extends "base.html" %}
{% block title %}Войдите{% endblock %}
{% block main_content %}
{% if not user.is_authenticated %}
<h1>Вход</h1>
{% if form.errors %}
<p>Ошибка: пароль или логин неправильные. Попробуйте снова</p>
{% else %}
<p>введите логин/пароль:</p>
{% endif %}

<form action="." method="POST" class="login">
    {{ form.as_p }}
    {% csrf_token %}
    <button class='btn-primary mp-3' style="color:black" type="submit">Войти</button>
</form>
</br>

<button class='btn-primary mp-3'><a style="color:black" href={% url "accounts:register" %}>Зарегистрироваться</a></button>
</br></br>


<p>Или вы можете войти через Facebook:</p>
<div class="row">
    <div class="col-md-8 mx-auto social-container my-2 order-md-1">
        <button class="btn btn-primary mb-2">
            <a style="color:black" href={% url 'social:begin' 'facebook' %}>Facebook</a>
        </button>
    </div>
</div>
{% else %}
<p>Вы уже вошли</p>
{% endif %}
{% endblock %}